:root {
  --clr-body: #0f0f0f;
}

body {
  background: var(--clr-body);
}

.title {
  font-size: 3em;
  color: white;
}

.circle {
  width: 200px;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 15px solid red;
  margin: 0 auto;
  margin-top: 25%;
  border-radius: 50%;
  position: relative;
  -webkit-animation-name: circle;
          animation-name: circle;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.square {
  width: 75px;
  height: 75px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 5px solid limegreen;
  position: absolute;
  -webkit-animation-name: square;
          animation-name: square;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  animation-direction: alternate-reverse;
}

@-webkit-keyframes circle {
  0% {
    border-color: red;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  25% {
    border-color: gold;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  50% {
    border-color: limegreen;
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  75% {
    border-color: dodgerblue;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    border-color: purple;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes circle {
  0% {
    border-color: red;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  25% {
    border-color: gold;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  50% {
    border-color: limegreen;
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  75% {
    border-color: dodgerblue;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    border-color: purple;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes square {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    border-color: aqua;
    border-width: 10px;
  }
  50% {
    border-color: coral;
    border-width: 20px;
  }
  75% {
    border-color: yellow;
    border-width: 40px;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    border-width: 5px;
  }
}

@keyframes square {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    border-color: aqua;
    border-width: 10px;
  }
  50% {
    border-color: coral;
    border-width: 20px;
  }
  75% {
    border-color: yellow;
    border-width: 40px;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    border-width: 5px;
  }
}
/*# sourceMappingURL=main.css.map */